@font-face {
	font-family: "geomanistregular";
	src: url("../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot");
	src: url("../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2")
			format("woff2"),
		url("../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff")
			format("woff"),
		url("../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf")
			format("truetype"),
		url("../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.svg#geomanistregular")
			format("svg");
	font-weight: normal;
	font-style: normal;
}
.navbar-toggler {
	outline: 1px solid white;
	color: white;
	font-size: 14px;
}
.nav-white .navbar-toggler {
	outline: 1px solid #124680;
	color: #124680;
}
blockquote {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 40px;
	margin-inline-end: 40px;
}
body,
html {
	color: #666666;
	font-family: "geomanistregular";
	height: 100%;
}
#myVideo {
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.overlay-video {
	z-index: 2;
	background: linear-gradient(
		to top,
		rgba(30, 30, 30, 0),
		rgba(30, 30, 30, 0.7)
	);
	background: -moz-linear-gradient(
		to top,
		rgba(30, 30, 30, 0),
		rgba(30, 30, 30, 0.7)
	);
	background: -o-linear-gradient(
		to top,
		rgba(30, 30, 30, 0),
		rgba(30, 30, 30, 0.7)
	);
	background: -webkit-linear-gradient(
		to top,
		rgba(30, 30, 30, 0),
		rgba(30, 30, 30, 0.7)
	);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
@media (min-width: 1200px) {
	.container.custom {
		max-width: 90%;
	}
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.select-style {
	display: none;
	width: 100%;
	padding-left: 0px;
}
body.home .select2-search--dropdown {
	display: none;
}
.hideshow {
	display: none;
}
.hideshow.show {
	display: block;
}
.tour-finder {
	background: rgb(255, 255, 255, 0.5);
	border-radius: 5px;
}
.smoothborder .select2-container--default .select2-selection--single {
	border: 1px solid #ddd;
}
.select2-container .select2-selection--single {
	height: 48px;
}
.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 46px;
}
.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	line-height: 43px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 15px;
}
#select2--container > span {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.7px;
}
#select2--container > span > i {
	color: #124782;
}

.normal .select2-container .select2-selection--single {
	height: 38px !important;
	border: 1px solid #ced4da;
}
.normal
	.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	line-height: 33px;
}
.normal
	.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	top: -5px;
	right: 8px;
}

.modal-header {
	color: white;
	background: #134780;
	font-weight: bold;
}
.loading {
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(255, 255, 255, 0.96);
	width: 100%;
	height: 100%;
	z-index: 10000;
	text-align: center;
}
.loading img {
	position: relative;
	bottom: -50%;
	transform: translateY(-50%);
	width: 100px;
	animation: blinker 3s linear infinite;
}
.loading.hide {
	display: none;
}
.owl-prev,
.owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.owl-nav button i {
	font-size: 50px;
}
.owl-nav .owl-prev {
	left: 0;
	transform: translateX(-100%);
}
.owl-nav .owl-next {
	transform: translateX(100%);
	right: 0;
}
.overlay-video .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	color: white;
}

.overlay-video .container .title-big {
	text-align: center;
	width: 80%;
	display: block !important;
	margin: auto;
	font-size: 60px;
	color: white;
	font-weight: bold !important;
}
.overlay-video .container p {
	font-size: 19px;
}
.overlay-video .container a {
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold !important;
}
.main-nav.nav-white {
	background: white;
	border-bottom: 1px solid #ddd;
}
.main-nav.nav-white .navbar-nav li a {
	color: #111;
}
.main-nav {
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
	background: rgba(0, 0, 0, 0.1);
}
.main-nav .navbar-nav li a {
	color: rgba(255, 255, 255, 1);
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
}
.main-nav .navbar-nav li a:hover,
.main-nav .navbar-nav li a.active {
	color: #124680;
}
.main-nav .navbar-nav li a.active {
	border-bottom: 2px solid #124680;
}
.main-nav .navbar-nav li {
	padding: 0px 8px;
}
.main-nav .navbar-brand .hidden {
	display: none;
}
.section {
	margin-top: 100vh !important;
}
.title.left {
	text-align: left;
}
.title {
	text-transform: uppercase;
	color: #111;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 0.5px;
	position: relative;
	margin-bottom: 30px;
}
.title.color-white::after {
	background: white;
}
.title.left::after {
	left: 0;
	transform: translateX(0%);
	-moz-transform: translateX(0%);
	-webkit-transform: translateX(0%);
	-o-transform: translateX(0%);
}
.title::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	width: 20%;
	padding: 1.2px;
	background: #124680;
}
.content {
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 19px;
}
.btn-bold {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	padding-left: 30px;
	padding-right: 30px;
}
.destination {
	position: relative;
}
.destination img {
	width: 100%;
}
.layer {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	left: 0;
	top: 0;
	padding: 0px 10px;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
}
.destinations.top .destination .text {
	font-size: 15px;
}
.destinations.bottom .destination .text {
	bottom: 0;
	background: rgb(0, 0, 0, 0.3);
	padding-bottom: 10px;
	padding-top: 10px;
}
.destinations.center .destination .text {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.destination .text {
	position: absolute;
	width: 100%;
	word-wrap: break-word;
	padding: 0px 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 20px;
	text-transform: uppercase;
}
.destination .icons span::before {
	font-size: 30px;
}
.destination .icons {
	position: absolute;
	text-align: center;
	width: 100%;
	color: white;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.destination:hover .layer,
.package:hover .layer {
	background: rgba(0, 0, 0, 0.4);
}
.destination:hover .img-dest,
.package:hover img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}
.cc {
	padding-left: 7px;
	padding-right: 7px;
}
.destinations .destination .img-dest,
.package img {
	position: relative;
	width: 100%;
	height: 100%;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
}
.destinations .destination {
	overflow: hidden;
}
.destinations .col-md-6 .destination {
	height: 400px;
}
.destinations.top .destination {
	height: 110px !important;
}
.destinations .col-md-3 .destination {
	height: 250px;
}
.parallax {
	background-image: url("../images/banner/banner.jpg");

	min-height: 550px;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}
.parallax .layer {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	left: 0;
	top: 0;
	text-align: center;
}
.parallax .layer .text {
	position: relative;
	color: white;
	width: 60%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	margin: auto;
}
.parallax .layer .text h1 {
	font-size: 45px;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
}
.parallax .layer .text p {
	opacity: 0.8;
	margin: 20px 0px;
	font-size: 18px;
	letter-spacing: 1px;
}
.package {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014),
		0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.025),
		0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.036),
		0 100px 80px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}
.package .info-top {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.package .info-top .category {
	position: absolute;
	top: 0;
	left: 0;
	background: #f64e27;
	color: white;
	z-index: 3;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 3px 8px;
	border-radius: 0px 0px 7px 0px;
}
.packages.h-270 .package .info-top {
	height: 270px;
}
.packages.h-220 .package .info-top {
	height: 220px;
}
.package .info-top .bottom {
	position: absolute;
	width: 100%;
	padding: 15px;
	background: rgb(18, 70, 128, 0.7);
	bottom: 0;
	z-index: 2;
}
.package .info-top .top {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	z-index: 2;
}
.package .info-top .top .info {
	color: white;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}
.package .info-top .bottom .name {
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}
.package .info-bottom {
	padding: 10px;
	border: 1px solid #ddd;
	overflow: auto;
	border-radius: 0px 0px 5px 5px;
}
.package .info-bottom .bottom {
	background: #e6eaed;
}
a:link {
	text-decoration: none;
}
.package .info-bottom .name {
	text-transform: uppercase;
	font-size: 16px;
	color: #124680;
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 0px;
}
.package .info-bottom .region {
	color: #666666;
	font-weight: bold;
	height: auto !important;
	margin-top: 5px;
	letter-spacing: 1px;
	font-size: 14px;
}
.package .info-bottom .bottom {
	margin-top: 10px;
	position: relative;
	bottom: 0;
}
.package .info-bottom .bottom .left {
	float: left;
	color: #f64f28;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.7px;
	line-height: 250%;
}
.package .info-bottom .bottom .right {
	float: right;
}
.region {
	position: relative;
	height: 184px;
}
.region .layer {
	border-radius: 0px 0px 8px 8px;
}
.region img {
	height: 100%;
	width: 100%;
	border-radius: 0px 0px 8px 8px;
}
.region .text {
	border-radius: 0px 0px 8px 8px;
	position: absolute;
	bottom: 0;
	background: #124680;
	width: 100%;
	color: white;
	padding: 10px 20px;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 17px;
}
.region .text span {
	line-height: 150%;
}
.socials {
	text-align: center;
}
.socials a {
	color: white;
	background: #124680;
	margin: 0px 5px;
	padding: 8px 10px;
	letter-spacing: 0.5px;
	display: inline-block;
	margin-bottom: 5px;
}
.socials span {
	margin-right: 10px;
}
.bg-blue {
	background: #124680;
	overflow: auto;
	color: white;
}
.bg-footer {
	/* 	background: #dfeeff;
 */
	background: #124680;
	overflow: auto;
}
.bg-footer .btn {
	background: #0069d9;
}
.bg-light {
	overflow: auto;
	background: #e6eaed !important;
}
.blue-title {
	color: #124680;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	letter-spacing: 1px;
	position: relative;
	margin-bottom: 30px;
}
.blue-title::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 20%;
	padding: 1.2px;
	background: #124680;
}
.link-footer {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 20px;
}
.link-footer .color-blue {
	color: rgb(0, 123, 255, 0.7) !important;
}
.link-footer li {
	margin-bottom: 7px;
}
.link-footer li a,
.link-footer b {
	font-weight: bold;
	font-size: 14px;
	color: white;
	letter-spacing: 0.7px;
}
.color-blue {
	color: #124680 !important;
}
.solid-color {
	color: #111111;
}
label {
	color: #111111;
	font-weight: bold;
}
.copyright {
	font-weight: bold;
	letter-spacing: 0.5px;
	font-size: 13px;
}
.quote {
	overflow: auto;
}
.quote .icon {
	width: 10%;
	float: left;
	font-size: 50px;
}
.quote .text {
	width: 90%;
	line-height: 180%;
	float: left;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1.5px;
	font-style: italic;
}
.quote .text .from {
	font-weight: bold;
	color: #ffcc01;
}
.megamenu {
	position: static;
}
.megamenu .dropdown-menu .box-mega {
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.megamenu .dropdown-menu {
	background: none;
	border: none;
	width: 100%;
	border: 1px solid #ddd;
}
.megamenu .dropdown-menu a {
	color: #111 !important;
}
.main-nav.phone-version {
	height: 100%;
	overflow: auto;
	display: inherit;
}
.bold {
	font-weight: bold;
}
.ls-1 {
	letter-spacing: 1px;
}
.ls-7 {
	letter-spacing: 0.7px;
}
.color-yellow {
	color: #ffcc01;
}
.color-orange {
	color: #f64f28;
}
.color-white {
	color: white !important;
}
.btn-warning {
	background: #f64e27;
	border-color: #e7360a;
	color: white;
}
.btn-warning:focus {
	box-shadow: 0 0 0 0.2rem rgba(231, 54, 10, 0.5);
}
.btn-warning:hover {
	color: white;
	border-color: #e7360a;
	background: #e7360a;
}
.half-banner {
	height: 60%;
}
.full-banner {
	height: 100%;
}
.full-banner .info-bottom {
	position: absolute;
	bottom: 10px;
	width: 100%;
	z-index: 3;
}
.border-yellow {
	border: 2px solid #ffcc01;
}
.full-banner.detail::after {
	content: "";
	width: 100%;
	height: 70%;
	position: absolute;
	bottom: 0;
	background: linear-gradient(to top, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0));
}
.full-banner .layer,
.half-banner .layer {
	background-position: center !important;
	-moz-background-position: center !important;
	-webkit-background-position: center !important;
	-o-background-position: center !important;
	background: rgba(0, 0, 0, 0.4);
}
.full-banner,
.half-banner {
	width: 100% !important;
	background-attachment: scroll !important;
	-webkit-background-attachment: scroll !important;
	-moz-background-attachment: scroll !important;
	-o-background-attachment: scroll !important;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	background-repeat: no-repeat !important;
	position: relative !important;
}
.text-banner {
	z-index: 3;
	position: relative;
	bottom: -50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	color: white;
}
.text-banner .btn-circle {
	border-radius: 50px;
}
.text-banner h1 {
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.text-banner h5 {
	color: rgba(255, 255, 255, 0.8);
}
.half-banner .icons {
	margin-top: 20px;
}
.dropdown-menu {
}
.half-banner .icons span::before {
	font-size: 50px;
}
.bg-mega {
	background: url("../images/banner/banner.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
}
.bg-mega img {
	width: 40%;
	position: relative;
	bottom: -50%;
	transform: translateY(-50%);
}
.form-filter input,
.form-filter button {
	font-size: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.form-filter button {
	letter-spacing: 0.5px;
}
.form-filter .dropdown-toggle {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ced4da;
	border-radius: 0px;
}
#accordion .card {
	margin-bottom: 5px;
}
#accordion .card-body {
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 0.8px;
}
#accordion .card .card-header .btn-link {
	width: 100%;
	white-space: normal;
	text-align: left;
	display: block;
	padding: 0.75rem 1.25rem;
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	line-height: 200%;
}
#accordion .card .card-header .btn-link:hover,
#accordion .card .card-header .btn-link:focus {
	text-decoration: none;
}
#accordion .card .card-header .btn-link .fa {
	float: right;
	background: white;
	padding: 10px 12px;
	font-size: 20px;
	border-radius: 100%;
}
#accordion .card .card-header {
	padding: 0px;
}
#accordion [data-toggle="collapse"].collapsed {
	background: #e6eaed;
	color: #666666;
}
#accordion [data-toggle="collapse"] {
	background: #124680;
	color: white;
}
#accordion [data-toggle="collapse"] .fa:before {
	color: #124680;
	content: "\f139";
}

#accordion [data-toggle="collapse"].collapsed .fa:before {
	content: "\f13a";
}
.box-white {
	background: white;
	overflow: auto;
	padding: 20px;
	border-radius: 5px;
}
.nav-tabs .nav-link.active {
	background: transparent;
	border-bottom: 2px solid #124680;
	color: #124680;
}
.nav-tabs .nav-link {
	border: none;
	color: #666666;
	font-weight: bold;
	border-bottom: 2px solid transparent;
}
.border.radius {
	border: 1px solid #ddd;
	border-radius: 7px;
}
.share .item {
	display: inline-block;
	margin: 5px 15px;
	text-align: center;
}
.share .item a {
	color: #4d4d4d;
	font-weight: bold;
	letter-spacing: 0.8px;
}
.share .item img {
	display: block;
	margin: auto;
	margin-bottom: 10px;
}
