@media (max-width: 575.98px) {
	.packages.h-270 .package .info-top,
	.destinations .col-md-6 .destination,
	.destinations .col-md-3 .destination {
		height: auto !important;
	}
	.parallax .layer .text {
		width: 90% !important;
	}
	.destinations.top .destination .text {
		font-size: 13px !important;
	}
	.destination .layer .text {
		font-size: 18px !important;
	}
	.overlay-video .container .title-big {
		font-size: 50px;
	}
	.quote .text,
	.quote .icon {
		width: 100%;
	}
	.info-bottom .container,
	.info-bottom .container .text-right {
		text-align: center !important;
	}
	.packages.h-220 .package .info-top {
		height: 120px !important;
	}
	.package .info-bottom .bottom .right,
	.package .info-bottom .bottom .right a,
	.package .info-bottom .region {
		width: 100% !important;
	}
	.package .info-bottom .name {
		font-size: 14px !important;
	}
	.package .info-bottom {
		min-height: 162.2px;
	}
	.nav-tabs .nav-link {
		font-size: 14px;
	}
	.half-banner.list-package {
		height: 100% !important;
	}
	.half-banner,
	.full-banner,
	.parallax {
		background-position: inherit !important;
		background-attachment: scroll !important;
	}
	.tab-style {
		display: none;
	}
	.select-style {
		display: block;
	}
	.filter-style {
		float: none !important;
	}
	.navbar-collapse {
		margin-top: 15px;
	}
	.navbar-collapse ul li {
		padding: 6px !important;
	}
	.navbar-collapse ul li a {
		font-size: 14px !important;
	}
}
