<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/css/custom.css" />
    <link rel="stylesheet" href="assets/css/custom-responsive.css" />
    <title>Union Tour Operator</title>
  </head>
  <body>
    <video autoplay muted loop id="myVideo">
      <source
        src="assets/videos/Medan, samosir - video destination - Wonderful Indonesia HD.mp4"
        type="video/mp4"
      />
      Your browser does not support HTML5 video.
    </video>
    <div class="overlay-video">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="title-big">
              Welcome to Union Tour Operator
            </div>
            <p>When they go low we go high!. Be a Traveler Not a Tourist</p>
            <a href="" class="btn btn-primary px-5">
              <span class="fa fa-search"></span> Find a trip</a
            >
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg py-3 main-nav fixed-top">
      <div class="container custom">
        <a class="navbar-brand" href="#">
          <img id="logo" src="assets/images/common/logo-white.png" alt="">
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
        <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Destination</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Adventure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hiking Tour</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Beach Tour</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign in</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="bg-light section pb-3">
      <div class="container custom mb-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="title mt-5">Why Union Tour Operator?</div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-9 text-center">
            <div class="content">
              We are a company that values and conserves the environment,
              ensuring our clients receive the excellentest service and
              attention by prioritizing safety, combined with quality equipment,
              facilities, exceptional services, medical services, trained staff
              and reinvesting in the local community, especially through good
              conditions for our staff.
            </div>
            <a href="" class="btn btn-outline-primary mt-4 btn-bold"
              >READ MORE</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="container custom my-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="title mt-5">Destinations</div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-9 text-center">
          <div class="content">
            The largest island nation on the planet is as diverse as its
            breadth. With views like other worlds, mystical culture,
            extraordinary cuisine, exotic beaches, and friendly people, there is
            no place in this world that offers more like the one in Indonesia.
            See our carefully crafted adventures throughout Indonesia that
            showcase the best of every destination.
          </div>
        </div>
      </div>
      <div class="row justify-content-center my-5 destinations">
        <div class="col-md-6 col-6 mb-3 cc">
          <div class="destination">
            <img
              src="assets/images/destinations/1.jpg"
              class="img-dest"
              alt=""
            />
            <div class="layer">
              <p>
                <img src="assets/images/icons/beach.png" alt="" />
                Destination
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-6 mb-3 cc">
          <div class="destination">
            <img
              src="assets/images/destinations/2.jpg"
              class="img-dest"
              alt=""
            />
            <div class="layer">
              <p>
                <img src="assets/images/icons/mountain.png" alt="" />
                Destination
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6 mb-3 cc">
          <div class="destination">
            <img
              src="assets/images/destinations/3.jpg"
              class="img-dest"
              alt=""
            />
            <div class="layer">
              <p>
                <img src="assets/images/icons/lake.png" alt="" />
                Destination
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6 mb-3 cc">
          <div class="destination">
            <img
              src="assets/images/destinations/4.jpg"
              class="img-dest"
              alt=""
            />
            <div class="layer">
              <p>
                <img src="assets/images/icons/map.png" alt="" />
                Destination
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6 mb-3 cc">
          <div class="destination">
            <img
              src="assets/images/destinations/5.jpg"
              class="img-dest"
              alt=""
            />
            <div class="layer">
              <p>
                <img src="assets/images/icons/rome.png" alt="" />
                Destination
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6 mb-3 cc">
          <div class="destination">
            <img
              src="assets/images/destinations/1.jpg"
              class="img-dest"
              alt=""
            />
            <div class="layer">
              <p>
                <img src="assets/images/icons/rome.png" alt="" />
                Destination
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <div class="layer">
        <div class="text">
          <h1>Join to our Group Trip</h1>
          <p>
            For clients who want to join the fun, we offer regularly scheduled
            departures. Taking advantage of the benefits of group travel
            expenses, Joining in a Trip is a great way to get to know you
            Indonesia in a fun and budget-friendly way.
          </p>
          <a href="" class="btn btn-primary btn-bold">READ MORE</a>
        </div>
      </div>
    </div>
    <div class="container custom my-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="title">Tour Packages</div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-9 text-center">
          <div class="content">
            For the trips we have designed all through field operator research,
            we try to fulfill all the wishes of clients from all walks of life
            and we convey experiences like local people with international
            service.
          </div>
        </div>
      </div>
      <div class="row my-5 packages h-270">
        <div class="col-md-4 cc">
          <div class="package">
            <div class="info-top">
              <img src="assets/images/destinations/2.jpg" alt="" />
              <div class="top">
                <div class="info">
                  Hiking Tour
                </div>
              </div>
              <div class="bottom">
                <div class="name">
                  3d 2n Bromo Ijen
                </div>
              </div>
              <div class="layer"></div>
            </div>
            <div class="info-bottom">
              <p>start from (/pax) :</p>
              <div class="idr">
                2.000.000
              </div>
              <div class="book">
                <a href="" class="btn btn-primary">Book now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 cc">
          <div class="package">
            <div class="info-top">
              <img src="assets/images/destinations/1.jpg" alt="" />
              <div class="top">
                <div class="info">
                  Hiking Tour
                </div>
              </div>
              <div class="bottom">
                <div class="name">
                  3d 2n Bromo Ijen
                </div>
              </div>
              <div class="layer"></div>
            </div>
            <div class="info-bottom">
              <p>start from (/pax) :</p>
              <div class="idr">
                2.000.000
              </div>
              <div class="book">
                <a href="" class="btn btn-primary">Book now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 cc">
          <div class="package">
            <div class="info-top">
              <img src="assets/images/destinations/4.jpg" alt="" />
              <div class="top">
                <div class="info">
                  Hiking Tour
                </div>
              </div>
              <div class="bottom">
                <div class="name">
                  3d 2n Bromo Ijen
                </div>
              </div>
              <div class="layer"></div>
            </div>
            <div class="info-bottom">
              <p>start from (/pax) :</p>
              <div class="idr">
                2.000.000
              </div>
              <div class="book">
                <a href="" class="btn btn-primary">Book now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col text-center">
          <a href="" class="btn btn-outline-primary btn-bold">MORE PACKAGE</a>
        </div>
      </div>
    </div>
    <div class="bg-light pb-3">
      <div class="container custom mb-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="title mt-5">Connect with us</div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-9 text-center">
            <div class="content">
              Contact the way that satisfies you. Find us on the most popular
              social channels in world and let us help you arrange a plan for
              your upcoming itinerary.
            </div>
          </div>
        </div>
        <div class="row justify-content-center my-5">
          <div class="col-md-12">
            <div class="socials">
              <a href=""
                ><span class="fa fa-facebook-square"></span> Facebook</a
              >
              <a href=""><span class="fa fa-instagram"></span> Instagram</a>
              <a href=""><span class="fa fa-envelope"></span> Email</a>
              <a href=""><span class="fa fa-whatsapp"></span> Whatsapp</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-blue">
      <div class="container custom mt-3">
        <div class="row justify-content-center">
          <div class="col-md-10 my-4">
            <div class="quote">
              <div class="icon">
                <span class="fa fa-quote-left"></span>
              </div>
              <div class="text">
                <p>
                  IF YOU’RE TWENTY-TWO, PHYSICALLY FIT, HUNGRY TO LEARN AND BE
                  BETTER, I URGE YOU TO TRAVEL – AS FAR AND AS WIDELY AS
                  POSSIBLE. SLEEP ON FLOORS IF YOU HAVE TO. FIND OUT HOW OTHER
                  PEOPLE LIVE AND EAT AND COOK. LEARN FROM THEM — WHEREVER YOU
                  GO.
                </p>
                <div class="from">ANTHONY BOURDAIN</div>
              </div>
            </div>
            <span class="fa fa-paragraf"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-footer">
      <div class="container custom">
        <div class="row my-5">
          <div class="col-md-3">
            <img src="assets/images/common/UNION.png" alt="" width="30%">
            <div class="link-footer mt-3">
                <b>  Saliwiryo Pranowo Street, Kotakulon Bondowoso, East Java 68219. <a href="" class="link-footer">View on map</a> </b>
            </div>
          </div>
          <div class="col-md-3">
            <div class="blue-title">
              About union
            </div>
            <div class="link-footer">
                <b>Inspired by the life-altering vistas, charming cultures, and vibrant cities, Union`s vision has always been to empower others to discover the same 'magic of Indonesia' that our journey some two decades ago. </b>
            </div>
          </div>
          <div class="col-md-3">
            <div class="blue-title">
              Site Link
            </div>
            <div class="row">
              <div class="col-md-6">
                <ul class="link-footer">
                  <li>
                    <a href="" class="color-blue">DESTINATIONS</a>
                  </li>
                  <li>
                    <a href="" class="color-blue">ADVENTURE</a>
                  </li>
                  <li>
                    <a href="" class="color-blue">HIKING TOUR</a>
                  </li>
                  <li>
                    <a href="" class="color-blue"
                      >BEACH TOUR              </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="link-footer">
                  <li>
                    <a href="" class="color-blue">ABOUT</a>
                  </li>
                  <li>
                    <a href="" class="color-blue">BLOG</a>
                  </li>
                  <li>
                    <a href="" class="color-blue">SIGN IN</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="blue-title">
              Connect with us
            </div>
            <label for="">Subscribe our newsletter</label>
            <form action="">
              <input
                type="text"
                class="form-control"
                placeholder="Your email address"
              />
              <button class="btn btn-primary mt-2 btn-block">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row my-4">
        <div class="col-md-12 text-center">
          <div class="copyright">
            <span class="color-blue">Copyright 2020</span> - Union Tour Operator
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>
